<!DOCTYPE html>
  <html>
    <head>

<script>
  dataLayer = [];
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MH8HQ48');</script>
  <!-- End Google Tag Manager -->

       <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--Import Google Icon Font-->
      <style>
        
        @import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&family=Open+Sans&display=swap');
        </style>
      <script src="https://kit.fontawesome.com/6b43684e60.js" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
      <link rel="stylesheet" href="css/style.css">
      
    </head>
    
    <body>
      
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MH8HQ48"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
      <nav >
       
          <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="images/djiblogo2.png" alt="djibdigital logo"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger "><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/web-design">Website Design</a></li>
              <li><a href="/digital-marketing">Digital Marketing</a></li>
              <li><a href="/cloud-services">Cloud services</a></li>
              <li><a href="/contact-us">Contact us</a></li>
  
            </ul>
          </div>
     
      </nav>

      <ul class=" sidenav" id="mobile-demo">
        <li><a href="/" ><i class="material-icons">home</i>Home</a></li>
        <li><a href="/web-design"><i class="fas fa-laptop-code"></i>Website Design</a></li>
        <li><a href="/digital-marketing"><i class="material-icons">business</i>Digital Marketing</a></li>
        <li><a href="/cloud-services"><i class="material-icons">cloud_done</i>Cloud services</a></li>
        <li><a href="/about-us"><i class="material-icons">person_search</i>About us</a></li>
        <li><a href="/contact-us"><i class="material-icons">contact_phone</i>Contact us</a></li>
        <div class="divider"></div>

        <div class="row ">
              
          <div class="col s2 social-sidnav"><a href="https://www.facebook.com/jibdigital"><i class="fab fa-facebook fa-lg"></i></a></div>
          <div class="col s2 social-sidnav"><a href="https://twitter.com/djibdigital"><i class="fab fa-twitter fa-lg"></i></a></div>
           <div class="col s2 social-sidnav"><a href="https://www.instagram.com/djibdigital"><i class="fab fa-instagram fa-lg"></i></a></div>
           <div class="col s2 social-sidnav"><a href=""><i class="fab fa-linkedin-in fa-lg"></i></a></div> 
         
        </div>
     
      </ul>
      
        
        
        