<%- include('partials/header'); -%>
<title>Cloud Applications</title>
<link rel="stylesheet" href="css/cloud.css">
<section class="topsection cloud">
   <div class=" container topdiv-cloud">
        <div class="row">
          <div class="col s12 l6">
            <h3>Cloud Applications</h3>
            <p class="flow-text">Simple, fast and secure web application to help run your business</p>
            <a href="#cloud-section" class="waves-effect waves-blue btn-small" href="#health-section" style="background-color: #3f72af;" >Read more</a>
            </div>
            
            <div class="col s12 l6"><img class="responsive-img topimg-cloud" src="images/cloud-computing.png" alt="web design"></div>
          </div>
   </div>     
</section>

   <section id="cloud-section"class="cloud-health-section" >

        <div class="row top-row">
         <div class="col s12 l6 ">
           <h5 class="h4-cloud">Health Professional Applications</h5>
            <p class="web-text">Application for diagnosis appointmens, medication and laboratory results aswell as 
              prescriptions and historical treatments. appointments  Functionality, messaging functionality and email functionality for patients 
              management and communications. 
            </p>
            </div>
            <div class="col s12 l6 ">
            <img class="responsive-img promoimage-cloud" src="images/heal.jpg" alt="health professional">
          </div>
          </div>
     
      <div class="row">
        <div class="col s12 l4">
        <div class="card">
          <div class="card-image">
            <i class="fas fa-desktop fa-3x"></i>
          </div>
          <div class="card-content">
            <h6>Serverless Application</h6>
            <p>No need to install hardware. Only a laptop or a PC and internet connection.</p>
          </div>
        </div>
      </div>
                            
        <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              <i class="fas fa-envelope-open-text fa-3x"></i>
            </div>
            <div class="card-content">
              <h6>Patient Mailing Functionality</h6>
              <p>Email functionality for patients information.</p>
            </div>
          </div>
        
        </div>
        
        <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              <i class="fas fa-sms fa-3x"></i>
            </div>
            <div class="card-content">
          
              <h6>Sms reminder notifications </h6>
              <p>Text messaging functionality.</p>
          </div>
          </div>
        </div>
        </div>
                      
       
      <div class="row">
      <div class="col s12 l4"> 
          <div class="card">
            <div class="card-image">
              <i class="fas fa-laptop-medical fa-3x"></i>
            </div>
            <div class="card-content">
            
              <h6>Patient records Storage </h6>
              <p>Records safley and securely in the cloud.</p>
          </div>
        
      </div> 
        
      </div>
          <div class="col s12 l4">  
          <div class="card">
            <div class="card-image">
              <i class="fas fa-pills fa-3x"></i>  
            </div>
            <div class="card-content">
            <h6>Historical Prescriptions </h6>
              <p>Historical prescription and treatments stored securely.</p>
            </div>
          </div>
          </div>
        <div class="col s12 l4"> 
          <div class="card">
            <div class="card-image">
              <i class="fas fa-flask fa-3x"></i>
            </div>
            <div class="card-content">
          
              <h6>Lab results storage </h6>
                <p>Lab results stored for future diagnosis and treatments.</p>
          </div>
      </div> 
        
        </div>
      </div>
   
  </div> 
   </section>
              <div class="divider"></div>
       <section class="educational">
        <h3>Educational Applications</h3>
          <div class="row">
         
            <div class="col s12 l6">
              <h5> Resources Management</h5>
              <p class="web-text">Educational Applications to manage staff and student as well as assets management. Student management section provides ability to manage student progress, grades, abcense, finance etc. Staff management section provides hiring, payments, attendence, holiday and more.</p>
            </div>
            <div class="col s12 m4 offset-m1">
              <img class="responsive-img educational-image" src="images/application.jpg" alt="education-teacher">
            </div>
          </div>
          
           <div class="row ">
            
            <div class="col s12 l4 offset-m1">
              <img class="responsive-img educational-image" src="images/education2.jpg" alt="computers">
            </div>
            <div class="col s12 m5 offset-m1">
              <h5>Teaching Applications</h5>
            <p  class="web-text">
              This feature includes setup upcoming modules, calendar and organizing term activities such as school educational  trips etc.
            </p>
          </div>
            </div>
            <div class="row">
         
              <div class="col s12 l6">
                <h5>Student Management Admin</h5>
                <p class="web-text">Educational Applications to manage staff and student as well as assets management. Student management section provides ability to manage student progress, grades, abcense, finance etc. Staff management section provides hiring, payments, attendence, holiday and more.</p>
              </div>
              <div class="col s12 l6">
                <img class="responsive-img educational-image" src="images/officeapp.jpg" alt="education-teacher">
              </div>
            </div>
                
      </section>
      <section class="cloud-lower-section">
      
        <div class="row">
         <div class="col s12 l4">
            <div class="card">
              <div class="card-image">
                <i class="fas fa-certificate fa-3x"></i>
              </div>
              <div class="card-content">
              
                <p class="web-text">Award winning applications .</p>
              </div>
            </div>
          </div>
          
  
          <div class="col s12 l4">
            <div class="card">
              <div class="card-image">
                <i class="fas fa-globe fa-3x"></i>
              </div>
              <div class="card-content">
              
                <p class="web-text">Available anytime anywhere</p>
              </div>
            </div>
          </div>
          <div class="col s12 l4">
            <div class="card">
              <div class="card-image">
                <i class="fas fa-user-cog fa-3x"></i>
              </div>
              <div class="card-content">
              
                <p class="web-text">Support and help Available.</p>
              </div>
            </div>
          </div>
        </div>
       
      </section>

      <section class="cloud-middle-section">
        <h3>Retail Accouning Software</h3>
        <div class="row ">
        
          <div class="col s12 m3  offset-m2 ">
           <img class="responsive-img mockups" src="images/Finance1.svg" alt="Finance illustration">
           </div>

             <div class="col s12 m4 offset-m1">
             
               <h5 class="web-h4">Powerfull affordable accounting software</h5>
             <p class="web-text">Accounting capability for reporting and projection of business yet affordable, no need to  invest huge sums to aquire this software, it is based on subscriptio and without minimu term or other commitments.</p>
             </div>
       </div>
             
                <div class="row">
                
                  <div class="col s12 m4  offset-m1 ">
                   <h5 class="web-h4">Cloud Based Accounting Software</h5>
                  <p class="web-text">It requires minimum effort to setup, no need for hardware installations such as servers etc. this technology is cloud based, availability is 100%, any time and anywhere accessible.</p>
                  </div>
             <div class="col s12 m4  offset-m1">
               <img class="responsive-img" src="images/Finance.svg" alt="finance illustration">
             </div>
           </div>
      </section>

    
    
      


      <%- include('partials/footer'); -%>