<%- include('partials/header'); -%>

<section class="topsection digital">

<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <h3>Start here successfull campaing</h3>
            <p class="topsection-paragraph">According to your business needs We will setup and run a successfull campaing to achieve business goals. </p>
        </div>
        <div class="col s12 m5 offset-m1">
            <img class="responsive-img topimg" src="images/marketing.svg" alt="Digital Marketing">
        </div>
    </div>
  </div>
  </section>


  
  <section class="promo-section-digital">
      
          <div class="row">
            <div class="col s12  m6">
                <h4>Campaing to hit business objectives</h4>
                <p class="flow-text">We help businesses identify measureble business goals, based on that we help setup a successfull campaing to target the right audience. Our experienced teams will make sure your business campaing objectives are met.</p>
              </div>
              <div class="col s12 m5 offset-m1">
                <img  class="responsive-img middle-img-digital" src="images/social-media.svg" alt="social  media">
              </div>
          </div>
         
    
  
     <div class="row">
      <div class="col s12 l4">
        <img class="responsive-img "  src="images/digital-marketing.svg" alt="flat monitor">
      </div>  

       <div class="col s12 l6 offset-l2">

        <div class="row ">
          <div class="col s12 l2">
            <i class="fas fa-chart-line fa-3x"></i>
          </div>
          <div class="col s12 l6">
            <h5>Google Analytics</h5>
            <p>Google anlytics setup and  configured to track your campaing progress, this will ensure we act on the analytics reports and identify any adjustments to the campaing.</p>
          </div>
        </div>
       
            <div class="row">
                     
                <div class="col s12 l2">
                    <i class="fas fa-map-marked-alt  fa-3x"></i>
                </div>
                <div class="col s12 l6">
                  <h5>Market and places</h5>
                  <p>Our experienced people help analyse markets and advice on a suitable campaing.</p>
                </div>
          
              </div>
              <div class="row">
                <div class="col s12 l2">
                    <i class="fas fa-at fa-3x"></i>
                </div>
                <div class="col s12 l6">
                  <h5>Email and Social Media Marketing </h5>
                  <p>Depending on the target audience, our expertise in social media allows us to help  setup best marketing strategy and choice of best channels available.</p>
                </div>
              </div>
       </div>
    
       
 
  </div>
 
</section>














<%- include('partials/footer'); -%>