<%- include('partials/header'); -%>

<section class="topsection">
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"
      ><img src="images/homeimages/newpics/12.png"
    /></a>
    <a class="carousel-item" href="#two!"
      ><img src="images/homeimages/newpics/11.png"
    /></a>
    <a class="carousel-item" href="#three!"
      ><img src="images/homeimages/newpics/5.png"
    /></a>
    <a class="carousel-item" href="#four!"
      ><img src="images/homeimages/newpics/10.png"
    /></a>
  </div>
</section>

<section class="promosection home">
  <h3>Our Services</h3>
  <div class="row">
    <div class="col s12 m4 promosection">
      <img
        class="responsive-img"
        src="images/homeimages/1.png"
        alt="branding image"
      />

      <h5 class="h5-home">Professional Digital Marketing Service</h5>
      <p class="landing-page-top">
        Use our service to grow your Company and customers rapidly, Generate
        leads and increase sales with
      </p>
    </div>
    <div class="col s12 m4 promosection">
      <img
        class="responsive-img"
        src="images/homeimages/2.png"
        alt="branding image"
      />
      <h5 class="h5-home">Modern Responsive websites</h5>
      <p class="landing-page-top">
        A modern eye-catching website is vital for any business, in an online
        world websites service as main contact point with customers where you
        show your products and services.
      </p>
    </div>
    <div class="col s12 m4 promosection">
      <img
        class="responsive-img"
        src="images/homeimages/3.png"
        alt="branding image"
      />
      <h5 class="h5-home">Branding Services</h5>
      <p class="landing-page-top">
        Make your Business recognisable with beautifull crafted brand kits, a
        logo, brand colors, fonts etc all of which make part of your company
        brand and make your business recongisable.
      </p>
    </div>
  </div>
</section>
<hr class="home-page" />
<section class="content-marketing">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <h3>Marketing Channels</h3>
        <p class="text-flow">
          Not all channels are suitable for all businesss, our dedicated
          professionals will study your business needs, your audience, your
          existing clients, future or target client. This will enable us to
          choose beste advertising channell to effectively run a successfull
          campaing.
        </p>
        <a class="waves-effect waves-light btn-small content-marketing-button"
          ><i class="material-icons right">arrow_forward</i>Learn More</a
        >
      </div>

      <div class="col s12 m7 offset-m1">
        <div class="row">
          <div class="col s4">
            <i class="material-icons home medium">perm_media</i>
            <h6>Social meadia marketing.</h6>
            <p>
              facebook, twitter, instagram, linkedin and youtube these most
              popular platforsm
            </p>
          </div>
          <div class="col s4 offset-s3">
            <i class="material-icons home medium">view_compact</i>
            <h6>Display and search engine marketing.</h6>
            <p>we show adverts in front of target audience</p>
          </div>
        </div>

        <div class="row">
          <div class="col s4">
            <i class="material-icons home medium">description</i>
            <h6>Blog Marketing.</h6>
            <p>We make sure message reaches target audience</p>
          </div>
          <div class="col s4 offset-s3">
            <i class="material-icons home medium">play_circle_filled</i>
            <h6>Video Marketing.</h6>
            <p>The best way to show new products or Services</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section lower-section-home">
  <div class="row">
    <div class="col s12 m2 offset-m1 border">
      <hr class="lower-col-home" />
      <h5>happy customers</h5>
      Our promise to our clients has always been to make suere the results to be
      as per expectations and within the agreed target.
    </div>
    <div class="col s12 m2 offset-m1 border">
      <hr class="lower-col-home" />
      <h5>Highest rated service</h5>
      We have bee always given the highest rating by our clients compared to our
      competitors in ths field. Our clients tells us not only their satisfacotry
      about our serivice but also that will recommend us to our services.
    </div>
    <div class="col s12 m2 offset-m1 border">
      <hr class="lower-col-home" />
      <h5>Satisfactory results</h5>
      We can assure our potential customers that your business with us will be
      satisfacotry, we promise money back guranteed if our services is not as
      agreed.
    </div>
  </div>
</section>
<section class="seo-section"></section>

<%- include('partials/footer'); -%>
