<%- include('partials/header'); -%>
<title>Djibdigital - Porfessional Digital Markeing and Web Design Agency in Djibouti</title>
<meta name="keywords" content=" A world of digital life needs Professional digital services, Djibgitial is here with you to make it happen ">


    <section class="topsection">
    
          <div class="row topdiv ">
            <div class="col s12 m6 "><h3> Digital Marketing and Web design Agency</h3>
           <p class="flow-text">Professional digital marketing and webdesign agency in Djibouti</p>
           <a class="waves-effect waves-blue btn-small" href="/web-design" style="background-color: #3f72af;" >Read more</a>
           <% if (message) { %>
            <div class="container alert"> 
             <%=message%> 
           </div>
             <%}%>
      
         </div>
         <div class="col s12 m6 "  >
          <img class="responsive-img topimg" src="images/viral.svg"  alt="Computer-display">
         </div>
       </div>
   
       
</section>
 
 
   
  
   <section class="promosection home">
   <h3>Web services</h3>
    <div class="row ">

      <div class="col s12 m4">
        
        <i class="fas fa-laptop-code fa-3x"></i>
        <h5>Modern Responsive websites</h5>
        <p class="landing-page-top">Desing and Develope any Type of Websites</p>
      </div>
      <div class="col s12 m4 "  >
        <i class="fas fa-cog fa-3x"></i>
       <h5>Digital Marketing</h5>
       <p class="landing-page-top">successfull Digital Marketing campaing</p>
      </div>
      <div class="col s12 m4 " >
        <i class="fas fa-project-diagram fa-3x"></i>
        <h5>Trustoworthy partner</h5>
        <p class="landing-page-top">Dedicated to support your business.</p>
      </div>

    </div>
    
     </section>   
 
   
   
     <section class="middle-section">
       
      <div class="row">
        <div class="col s12 m4" >
          <div class="card small  z-depth-4 horizontal ">
            <div class="card-image">
              <img src="images/social-media.svg">
            </div>
            <div class="card-stacked">
            <div class="card-content">
            <span class="card-title">Social Media Marketing</span>
              <p class="web-text">Using most popular platforms: facebook, twitter, instagram etc.</p>
            </div>
          
         </div>
          </div>
        </div>

        <div class="col s12 m4"  >
          <div class="card small  z-depth-4 horizontal" >
            <div class="card-image">
              <img src="images/webdev2.svg">
             </div>
            <div class="card-stacked">
            <div class="card-content">
           <span class="card-title">Design Services </span>
            <p class="web-text">Business cards,  leaflets, brochures and all the logistics needed to supply and distribute </p>
            </div>
           
          </div>
        </div>
        </div>
        <div class="col s12 m4" >
          <div class="card small  z-depth-4 horizontal">
            <div class="card-image">
              <img src="images/marketing.svg">
            
            </div>
             <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">Marketing Services</span>
              <p class="web-text">On the ground campaings:  product samples and marketing materials distribution .</p>
            </div>
           
            </div>
          </div>
        </div>
      </div>

     </section>

      

     <section class="lower-section">
      
      <h3 class="h3-middle" > Consultancy Services</h3>
           
    
    <div class="row">
    <div class="col s12 m4 " > 
      <i class="fas fa-shield-alt fa-3x"></i>
        <h5>Network Security</h5>
        <p class="landing-page">We Provide Network security Consultancy to support your organization </p>
    </div>
    <div class="col s12 m4  "> 
   <i class="fas fa-network-wired fa-3x"></i>
   <h5>Network design and deployment</h5>
      <p class="landing-page">We Provide Network Architecture and rollout service</p>
    </div>
    <div class="col s12 m4  " > 
   <i class="fas fa-tasks fa-3x"></i>
   <h5>Staffing Services </h5>
    <p class="landing-page">We Supply engineers and experienced technical personel for hire</p>
   </div>

  </div>
 </section>

  
    

     <%- include('partials/footer'); -%>