<%- include('partials/header'); -%>


    <section class="topsection">
    
        <div class="container topdiv ">
          <div class="row ">
            <div class="col s12 m6 "   data-aos="fade-right" data-aos-duration="1000"><h3>Design and develope Modern Websites.</h3>
           <p class="flow-text" data-aos="fade-up">Meeting Customers needs Beyond Expectatins and to Deadlines.</p>
           <a class="waves-effect waves-blue btn-small" href="/web" style="background-color: #3f72af;" data-aos-delay="200" data-aos="fade-up">Read more</a>
         </div>
         <div class="col s12 m6 "  >
          <img class="responsive-img topimg" data-aos="slide-down"data-aos-duration="1000" data-aos-delay="150" src="images/coding-2.svg"  alt="Computer-display">
         </div>
       </div>
   

        </div>
       
</section>
 
 
   
  
   <section class="promosection home">
   <h3>Web services</h3>
    <div class="row ">

      <div class="col s12 m4" data-aos="slide-right" data-aos-duration="1000">
        
        <i class="fas fa-laptop-code fa-3x"></i>
        <h5>Modern Responsive websites</h5>
        <p class="landing-page">Desing and Develope any Type of Websites</p>
      </div>
      <div class="col s12 m4 " data-aos="slide-up" data-aos-duration="1000">
        <i class="fas fa-cog fa-3x"></i>
       <h5>Digital Marketing</h5>
       <p class="landing-page">successfull Digital Marketing campaing</p>
      </div>
      <div class="col s12 m4 " data-aos="slide-left"data-aos-duration="1000">
        <i class="fas fa-project-diagram fa-3x"></i>
        <h5>Trustoworthy partner</h5>
        <p class="landing-page">Dedicated to support your business.</p>
      </div>

    </div>
    
     </section>   
 
   
   
     <section class="middle-section">
      <div class="row">
        <div class="col s12 m4"  data-aos-duration="1000" data-aos="slide-up">
          <div class="card small  z-depth-4 horizontal ">
            <div class="card-image">
              <img src="images/social-media.svg">
            </div>
            <div class="card-stacked">
            <div class="card-content">
            <span class="card-title">Digital Marketing Services</span>
              <p class="landing-page">Social Media marketing: facebook, instagram etc.</p>
            </div>
            <div class="card-action">
              <a href="/digital">Learn More </a>
            </div>
         </div>
          </div>
        </div>

        <div class="col s12 m4"   data-aos-duration="1000" data-aos="slide-up">
          <div class="card small  z-depth-4 horizontal" >
            <div class="card-image">
              <img src="images/webdev2.svg">
             </div>
            <div class="card-stacked">
            <div class="card-content">
           <span class="card-title">Design Services </span>
            <p class="landing-page">Business cards,  leaflets, brochures and more  </p>
            </div>
            <div class="card-action">
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
        </div>
        <div class="col s12 m4"  data-aos-duration="1000" data-aos="slide-up">
          <div class="card small  z-depth-4 horizontal">
            <div class="card-image">
              <img src="images/marketing.svg">
            
            </div>
             <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">Business Publications service</span>
              <p class="landing-page">Desing and Print Business leaflets and Brocures</p>
            </div>
            <div class="card-action">
              <a href="#">Learn  More</a>
            </div>
            </div>
          </div>
        </div>
      </div>

     </section>

      

     <section class="lower-section">
      
      <h3 class="h3-middle" data-aos="slide-up"data-aos-duration="2000"> Consultancy Services</h3>
           
    
    <div class="row">
    <div class="col s12 m4" data-aos="slide-up"data-aos-duration="1000"> 
      <i class="fas fa-shield-alt fa-3x"></i>
        <h5>Network Security</h5>
        <p class="landinpage">We Provide Network security Consultancy to support your organization .</p>
    </div>
    <div class="col s12 m4" data-aos="slide-up"data-aos-duration="1000"> 
   <i class="fas fa-network-wired fa-3x"></i>
   <h5>Network design and deployment</h5>
      <p class="landing-page">We Provide Network Architecture and rollout service.</p>
    </div>
    <div class="col s12 m4" data-aos="slide-up"data-aos-duration="1000"> 
   <i class="fas fa-tasks fa-3x"></i>
   <h5>Staffing Services </h5>
    <p class="landing-page">We Supply engineers and experienced technical personel for hire.</p>
   </div>

  </div>
 </section>

  
    

     <%- include('partials/footer'); -%>