<%- include('partials/header'); -%>

<section class="topsection web">
   <div class=" container topdiv-web">
        <div class="row">
          <div class="col s12 m6">
            <h3>Modern Responsive website</h3>
            <p class="flow-text">Fast develop and debloy any  website</p>
            <a class="waves-effect waves-blue btn-small" style="background-color: #3f72af;" >Read more</a>
            </div>
            
            <div class="col s12 m4 offset-m2 mockups"><img class="responsive-img topimg-web" src="images/domain-names.svg" alt="web design"></div>
          </div>
   </div>       
</section>

   <section class="promo-section-web">
      
        <div class="row ">
          
           <div class="col s12 m3  offset-m2 promosection-img-col">
            <img class="responsive-img mockups" src="images/smartmockups_djibtech.jpg" alt="website illustration">
            </div>

              <div class="col s12 m4 offset-m1">
                <h4 class="web-h4">Responsive Web design</h4>
              <p class="web-text">We build and deploy modern, creative and responsive website that works on any device wether it's mobile, tablet or PC. Our service comes with free consultation and free advice on website design, color palet, and the overall  suitability for the industry your organization operates.</p>
              </div>
        </div>
              
                 <div class="row">
                 
                   <div class="col s12 m4  offset-m1 ">
                    <h4 class="web-h4">Fast develope and deployment</h4>
                   <p class="web-text">We build any type of website and deploy in short time. For more complex and time consuming we can shorten time concidarbly by planning ahead and working round the clock  for delivery. We also have dedicated project managers to take care of your whishes during project stages.</p>
                   </div>
              <div class="col s12 m4  offset-m1">
                <img class="responsive-img" src="images/software-engineer.svg" alt="website illustration">
              </div>
            </div>
   </section>
    <section class="web-lower-section">
      <h3>Our web service</h3>
     
      <div class="row">
    
        <div class="col s12 m4">
      
        <div class="card">
          <div class="card-image">
            <i class="fas web-page fa-laptop-code fa-3x"></i>
          </div>
          <div class="card-content">
          
            <p class="small-paragraphs">Inhouse coding experts that will build your bespoke Websites suitable for your business.</p>
          </div>
        </div>
      </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <i class="fas web-page fa-database fa-3x"></i>
            </div>
            <div class="card-content">
            
              <p class="small-paragraphs">Plenty of storage depending on your needs we will advice  you  the best plan available.</p>
            </div>
            </div>
          </div>
    
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <i class="fas  web-page fa-user-cog fa-3x"></i>
              </div>
              <div class="card-content">
              
                <p class="small-paragraphs"> Our maintenance service will make sure your website get fixes and updates required.</p>
              </div>
            </div>
            </div>
          
        </div>
        <div class="row">
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <i class="fas fa-info fa-3x"></i>
              </div>
              <div class="card-content">
              
                <p class="small-paragraphs">Free Advice and information available over email, phone or live chat.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <i class="far fa-chart-bar fa-3x"></i>
              </div>
              <div class="card-content">
              
                <p class="small-paragraphs">training available on making use of online toolsn for best use of online presence.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <i class="fas fa-hands-helping fa-3x"></i>
              </div>
              <div class="card-content">
              
                <p class="small-paragraphs">Satisfactory business relationship.</p>
              </div>
            </div>
          </div>
        </div>
    
      </section>
            <section class="web-cards">
              
                <div class="row">
                  <h3>Website lifecycle</h3>

                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="images/startup-development.svg">
                       </div>
                       <div class="card-content">
                        <p class="flow-text">Code </p>
                       </div>
                   </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="images/server.svg">
                       </div>
                       <div class="card-content">
                        <p class="flow-text"> Deploy</p>
                       </div>
                   </div>
                  </div>
                  <div class="col s12 m4">
                      <div class="card">
                        <div class="card-image">
                          <img src="images/bug.svg">
                         </div>
                       
                         <div class="card-content">
                          <p class="flow-text">Maintain </p>
                         </div>
                        
                     </div>
                    </div>
                 
                  
                  </div>
             
            
            </section>
            

     <%- include('partials/footer'); -%>